/node_modules
/public/build
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.override.yml
user.ini
auth.json
npm-debug.log
yarn-error.log
/.vs
/.idea
/.vscode